@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&display=swap');

body{
    font-family: 'Courier Prime', monospace!important;
}


/*IMAGE*/

img.cleaning {
    width: 100vw;
}

/*about us */

#about {
    padding: 4rem 25vw;
    text-align: center;
}
#about h2 {
    text-transform: uppercase;
    margin-bottom: 5rem;
}

/*DIV Book */
.div-book {
    text-align: center;
    padding: 6rem 0;
}
/*img*/

.imgHeader img {
    width: 100vw;
}


/*why us*/



#why-us {
    text-align: center;
    background-color: #F3F3F3;
    padding: 2rem 0;
}

.row-why-us {
    margin: 0 auto!important;
    justify-content: center;
    width: 100%;
}

#why-us h2 {
    text-transform: uppercase;
    margin-bottom: 5rem;
}

.card-why-us {
    width: 23rem;  
    margin-right: 2rem;
}
.card-why-us:last-child {
    margin-right: 0;
}
img.card-img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-top: 1.25rem;
}


/*IMAGE*/

.div-img img{
    width: 100vw;;
}
/*carousel*/

.div-carousel {
    text-align: center;
    background-color: #F3F3F3;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.slider-name {
    width: 80px!important;
    align-items: center;
    margin: 0 auto;
    border-radius: 20px 50px;
}

ol.carousel-indicators {
    display: none;
}
.carousel-control-next-icon {
    background-image: url(../../assets/arrow-right.png)!important;
}
.carousel-control-prev-icon {
    background-image: url(../../assets/arrow-left.png)!important;
}
.slide p {
    padding: 0 23rem;
    padding-top: 2rem;
}






@media all and (max-width: 1167px) {
  
    .card-why-us {
        margin-bottom: 2rem; 
    }
    .card-why-us:last-child {
        margin-bottom: 0m; 
    }
    /*SLIDER*/
    .slide p {
        padding: 0 15rem;
        padding-top: 2rem;
    }
 }


@media all and (max-width: 765px) { 
   
    /*ABOUT*/
    #about {
        padding: 4rem 7vw;
    }
    #about h2 {
        margin-bottom: 2rem;
    }
    
    /* WHY US */
    .card-why-us {
        width: 20rem;
        margin-right: 0; 
    }
    .slide p {
        padding: 0 2rem;
    }

    /*Testemonial*/
 
    .div-carousel {
        padding-left: 3vw;
        padding-right: 3vw;
    }

 }