.services {
    text-align: center;
    background-color: #F3F3F3;
}



/*Types services*/

.div-services-types {
    padding: 4rem 0;
    width: 90rem;
    margin: 0 auto;
}
.div-services-types-background {
    padding: 5rem 0;
    background-image: url(../../assets/room.jpg)!important;
    background-position: center;
    background-size: cover;
    text-align: center;
    background-repeat: repeat;
}

.services-types-size {
    background-color: #fff;
    padding: 3rem 2rem;
    width: 33rem;
    margin-left: auto;
    margin-right: 3rem;
}
.div-services-types p {
    padding-bottom: 2rem;
}

.services-types-size .card-columns {
    column-count: 2!important;
}

.card-services {
    background-color: transparent!important;
}

.services-types-size .card-columns .card {
    min-width: 14rem!important;
}

.row-services:last-child{
    margin-bottom: 0;
}



/* Additional services */

.additional-services {
    justify-content: center;
    background-color: #fff;
    padding: 3rem 4vw;
}





/**/


.div-service {
    padding: 3rem 0;
}
.div-service h2{
    text-align: center;
}
.service {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    text-align: center;
    padding: 3rem 21vw;
}


.service-right  .div-img-service {
    margin-right: 3rem;
}
.service-right:last-child {
    padding-bottom: 0;
}
.service-left .div-img-service {
    margin-left: 3rem;
}
.service h4 {
    padding-bottom: 1rem;
}
.service {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 6rem;
}

.additional-services .card-columns {
    column-count: 2!important;
    width: 37rem;
    margin: 0 auto;
}
.additional-services .card-columns .card {
    min-width: 17rem!important;
}




@media all and (max-width: 1644px) { 
    
    .div-services-types {
        width: 100vw;
    }
 }

@media all and (max-width: 1349px) { 

    .service {
        display: flex;
        flex-direction: column;
        padding: 3rem 15rem;
    }
    .service-right .div-img-service {
        order: 2;
    }
    .service-right .div-img-service {
        margin-right: 0;
    }
    .service-left .div-img-service {
        margin-left: 0;
    }
 }

 @media all and (max-width:900px) { 
    .service {
        padding: 3rem 2rem;
    }
    .services-types-size .card-columns {
        column-count: 1!important;
    }
    .services-types-size .card-columns .card {
        display: block!important;
        margin: 0 auto;
        margin-bottom: .75rem;
    }
    .services-types-size {
        width: auto;
        margin-right: 0;
    }
    .additional-services .card-columns {
        column-count: 1!important;
    }
    .additional-services .card-columns {
        width: auto;

    }
    .div-services-types-background {
        background-image: none!important;
    }
    
    .div-img-service img {
        width: 300px;
        height: 500px;
    }
 }