.services {
    text-align: center;
}



/*Types services*/

.div-services-types {
    padding: 5rem 0;
}
.div-services-types p {
    padding-bottom: 2rem;
}
.additional-services h2 {
    padding-top: 2rem;
}
.row.row-services {
    justify-content: center;
}
.card-services.card {
    width: 15rem;
    margin-right: 2rem;

}
.card-services.card:last-child {
    margin-right: 0;
}
.row-services{
    margin-bottom: 2rem;
}
.row-services:last-child{
    margin-bottom: 0;
}

/* Additional services */

.additional-services {
    justify-content: center;
}
.row-additional-services {
    justify-content: center;
}




/**/
.service {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    text-align: center;
    padding: 3rem 21vw;
}


.service-right  .div-img-service {
    margin-right: 3rem;
}
.service-left .div-img-service {
    margin-left: 3rem;
}
.service h4 {
    padding-bottom: 1rem;
}
.service {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 6rem;
}



@media all and (max-width: 1349px) { 
    .services {
        text-align: center;
        padding: 3rem 4vw;
    }
 }

 @media all and (max-width:795px) { 
    .service {
        display: flex;
        flex-direction: column;
    }
    .service-right .div-img-service {
        order: 2;
    }
    .service-right .div-img-service {
        margin-right: 0;
    }
    .service-left .div-img-service {
        margin-left: 0;
    }
    .div-img-service img {
        width: 300px;
        height: 500px;
    }
 }