/* MENU */
.header {
    background-image: url(../../assets/header2.png)!important;
    height: 80vh;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.header a {
    padding-top: 2rem;
    padding-left: 1.5rem;
    color: #000!important;
}
.header a:hover {
    text-decoration: none;
    color: #000;
}
.logoHeader {
    width: 250px;
}


.navbar-expand-lg .navbar-collapse {
    margin-top: 0;
    margin-bottom: auto;
}
.navbar {
    padding: 0!important;
    padding-right: 3rem!important;
}
ul.mr-auto.nav {
    text-transform: uppercase;
    margin-left: auto!important;
    margin-right: 0!important;
}
.collapse.show ul.mr-auto.nav{
    flex-direction: column;  
    
}
.collapse.show a.nav-link {
    color: #fff;
    padding: .5rem 0;
}
.navbar-light .navbar-toggler-icon {
    background-image: url(https://mdbootstrap.com/img/svg/hamburger7.svg?color=fff)!important;
}
.navbar-light .navbar-toggler {
    border: none;
}
.navbar-light .navbar-brand {
    color: #fff!important;
}


/*MENU HAMBURGUER*/



@media all and (max-width: 765px) { 

    
    /*HEADER */

    .logoHeader{
        width: 85px;
    }

    .header {
        height: 50vh;
    }
   
  
  
}