.divQuestion {
    padding: 20px 0;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    padding-left: 25rem;
    padding-right: 25rem;
}
.divQuestion p {
    padding-top: 1rem;
}

.divFaq {
    padding: 3rem 1rem;
}
.divFaq h3 {
    padding-bottom: 3rem;
    padding-top: 1rem;
}

.divFaq h3 {
    padding-bottom: 3rem;
    padding-top: 1rem;
    text-align: center;
}
.divQuestion h4 {
    font-size: 1.2rem;
}
.question-contact {
    display: flex;
    justify-content: space-around;
    padding: 3rem 25rem;
    /*border-top: 1px solid #ededed;*/
    align-items: center;
    background-color: #F3F3F3;
}
.have-question {
    display: flex;
    align-items: flex-end;
}
.have-question h5 {
    color: #86bbd6;
}
.have-question #question-contact {
    color: #86bbd6;
}
.have-question p {
    margin-bottom: 0;
}
.have-question h5 {
    color: #86bbd6;
    margin-bottom: 0;
}
.book a {
    color: #86bbd6;
}
.book h5 {
    font-size: 1rem;
}
.have-question-img img {
    width: 70px;
    padding-bottom: 0.5rem;
    padding-right: 0.3rem;
}

@media all and (max-width: 1360px) {
    .divQuestion {
        padding-left: 20rem;
        padding-right: 20rem;
    }
    .question-contact {
        padding: 3rem 10rem;
    }
}

@media all and (max-width: 952px) {
    .divQuestion {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .question-contact {
        flex-direction: column;
        display: flex;
        padding: 3rem 2rem;
    }

    .book h5 {
        margin-top: 2rem;
    }
    .have-question-img img {
        width: 90px;
        padding-right: 1rem;
    }
}

@media all and (max-width: 750px) {

    .divQuestion {
        padding-left: 0;
        padding-right: 0;
    }
    .question-contact {
        padding: 3rem 1rem;
    }
    footer.div-footer {
        padding: 1rem;
    }
 }