
/*BOOK */


.button-whatsapp a {
    color: #fff;
}
.button-whatsapp a:hover {
    color: #fff;
    text-decoration: none;
}
.button-whatsapp {
    background-color: #86bbd6;
    padding: 0.5rem;
    border: none;
    margin-top: 2rem;
    transition: all .2s ease-in-out;
}
.button-whatsapp:hover{
    transform: scale(1.1);
}